<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
			<div th:replace="~{base :: titulo('Atualização de Cadastros de Parceiro')}"></div>
			
			<div class="card mt-3">
		
				<form action="#" th:action="@{/home/parceiros/salvarParceiro}" th:object="${parceiro}" class="card-body"  method="POST">
				<div class="form-group">
					<input type="hidden" th:field="*{id}" class="form-control"/>
				</div>
				
				<div class="form-group">
					<label for="nomeParceiro">Nome</label>
					<input th:field="*{nomeParceiro}" class="form-control"/>
					
				</div>
				<div class="form-group">
					<label for="logradouro">Logradouro</label>
					<input th:field="*{logradouro}"  class="form-control"/>
					
				</div>
				<div class="form-group">
					<label for="bairro">Bairro</label>
					<input th:field="*{bairro}"  class="form-control"/>
					
				</div>					
				<div class="form-group">
					<label for="cidade">Cidade</label>
					<input th:field="*{cidade}" class="form-control"/>
					
				</div>
				<div class="form-group">
					<label for="estado">Estado</label>
					<input th:field="*{estado}" class="form-control"/>

				</div>
				
				<div class="form-group">
					<label for="email">Contato</label>
					<input th:field="*{email}" class="form-control"/>
					
				</div>
				<button class= "btn btn-outline-success my-2 my-sm-0" type="submit">Atualizar</button>
				</form>

			</div>
		</div>
	</body>
</html>