<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
	<head th:replace="~{base :: head}" />
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
			
	
		<div class="container">
			<div class="jumbotron">
  				<h1 class="display-4">Sobre nós</h1>
  					<p class="lead">"<em>O mundo pode não mudar se você adotar um pet, mas para esse pet todo o mundo mudará</em>"</p>
  					
 				 <hr class="my-4">
	 				 <p>A HOPE reúne inúmeros parceiros que representam associações, grupos de ação comunitária, petshops e que realizam acolhimento de bichinhos abandonados ou cujos donos não podem mais mantê-los.
	 				 		Com o intuito de concentrar esses diversos grupos unidos em um único objetivo, a Hope opera desde 2021 oferecendo aos nossos parceiros um local para cadastrar os animais que esperam encontrar um novo lar. Não há custos para ser um parceiro, basta
	 				 		entrar em contato conosco e solicitar cadastro para utilizar a plataforma e cadastrar os animais, aumentnado assim as chances de encontrarem um
	 				 		novo dono. 
			 		</p>
			 		<h4 class="display-5">Como funciona?</h4>
			 		<p>Para adotar basta entrar em contato com o parceiro que anunciou o animal e transforme hoje mesmo a vida do seu(sua) novo(a) melhor amigo (a).
			 		</p>
  					<p class="lead">
    				<a class="btn btn-light alert alert-info" href="/home" role="button">Adote! <i class="far fa-heart "></i></a>
  					</p>
				</div>
			
				<div class="alert alert-info mt-3 text-center" role="alert">
	  				Conheça nossos parceiros e apoiadores!
				</div>
				
				<div class="card-group">
				  <div class="card">
				    <img class="card-img-top" src="https://i.imgur.com/6xHL6Cw.png" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">SeuPet</h5>
				      <p class="card-text">Coordenado pela Vitória de Souza, a SeuPet realiza ações de combate à violência aos animais domésticos, resgatando e abrigando animais em situação de risco</p>
				      <p class="card-text"><small class="text-muted">Poá - SP</small></p>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="https://i.imgur.com/iZC0Rtf.png" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">SalvaPet</h5>
				      <p class="card-text">Liderado por João da Silva, a SalvaPet atua principalmente no resgate de animais através de denuncias de maus tratos e abandono.</p>
				      <p class="card-text"><small class="text-muted">Suzano - SP</small></p>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="https://i.imgur.com/4wh5R80.jpg" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">Amigos de pata</h5>
				      <p class="card-text">Coordenado por Ana Clara, a clínica veterinária e petshop Amigos de pata realiza atendimentos gratuitos aos animais em condição de risco, além de prestar atendimento voluntário aos nossos parceiros.</p>
				      <p class="card-text"><small class="text-muted">Mogi das Cruzes - SP</small></p>
				    </div>
				  </div>
				</div>
			</body>
			<footer class="mt-3">
			 <div class="card">
				  <div class="card-header">
				   	<h5 class="card-title">Suporte aos Parceiros</h5>
				  </div>
				  <div class="card-body">
			     	<p class="card-text">Para maiores informações e gerenciamentos dos cadastros entre em contato conosco.</p>
		    		<i class="fas fa-cat icon"></i>
		   		 </div>
				</div>
			</footer>
		</div>
</html>